
:root{
    --primary-text-color: #212121;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --secondary-text-color: #757575;
    --primary-white-color:#ffffff;

}

body {
    font-family: roboto, sans-serif;
    color:var(--primary-text-color);
}

/* logo  */
.logo-text-head {
    color: var(--primary-text-color);
    text-decoration: none;
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}
.logo-part{
    color:var(--accent-color);
}

/* navigation */
.nav-link{
    text-decoration: none;
    color: var(--primary-text-color);
    font-weight: 500;
    font-size:14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.contacts-header {
    text-decoration: none;
    color: #757575;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.nav-link:hover,
.contacts-header:hover,
.nav-link:focus,
.contacts-header:focus {
    color:var(--accent-color)
}

.hero-section {
    background-color: #2F303A;
}
.hero {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
}

.button {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

.feature-title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
}
.feature-text {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}

.worker-name{
    font-weight: 500;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

.worker-job{
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}

.filter{
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
}

.filter:hover,
.filter.focus {
    background-color: var(--accent-color);
}

.work-name{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.work-type{
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}

footer {
    background-color: #2F303A;
}

.logo-text-foot {
    color: var(--primary-white-color);
    text-decoration: none;
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.contacts-foot{
    text-decoration: none;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6)
   
}
.address-footer{
    text-decoration: none;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color:#ffffff
}


